
body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.side-bar{
    background-color: lightblue;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
}
#main-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    border: 1px solid black;
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.letter {
    border: 1px solid red;
    height: 50px;
    width: 9%;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    text-shadow: 2px 2px black;

}

button {
    height: 5%;
    width: 20%;
    border-radius: 5px;
    background-color: lightblue;
    border: 1px solid black;
    font-size: 20px;
    margin: 10px;
    position: relative;
    bottom: 20%;
}

button:hover {
    opacity: 80%;
}

#pictures {
 
    padding: 10px;
    display: flex;
}

img {
    height: 100px;
    width: 80px;
    margin: 10px;
}

#letter-containers {
    height: 20%;
    width: 50%;
    display: flex;
    
}

.wrong-letters {
    border: 1px solid red;
    width: 15%;
    height: 100%;
}

p {
    padding: 10px;
}